 /* General page style */
a:link {color: FFCC33; text-decoration:none;}    /* unvisited link */
a:visited {color: FFCC33; text-decoration:none;} /* visited link */
a:hover {color: FFFFFF; text-decoration:underline;}   /* mouse over link */
a:active {color: FFCC33; text-decoration:underline;}  /* selected link */
p.wrong { color: #FF0000; }

body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#333333;
	color:FFFFFF;
}

table.table {
	border: 1px #000000 solid;
	 /*width: 200;*/
	border-collapse: collapse;
}

tr.table_header {
	background: url('./black/tbl_h_c.gif') repeat;
	background-color: #000000;
	color: #FFCC33;
}

tr.row1 {
	background-color: #121212;
}

tr.row2 {
	background-color: #212121;
}

tr.row3 {
	background-color: #000000;
}


td.cell_content {
	background-color: #121212;
}

progress {
  width: 10em;
  height: 0.8em;
  border: 1px solid;
}

table.thumb_cell {
    border-radius: 25px;
    border: 1px solid #000000;
    background: #212121;
    padding: 10px; 
    width: 160px;
}

table.thumb_cell:hover { 
	background: #000000;
}

ul {
	list-style: none;
	margin: 17px 20px 20px 24px;
	width: 330px;
}

li {
	display: block;
	padding: 5px;
	background-color: #212121;
	border-bottom: 1px solid #000000;
}

li:hover {background-color: 000000;}

#content {
	padding:50px;
	width:680px;
	float:left;
}

#clear { 
	clear:both;
}

#box {
	float:left;
	margin:0 0 20px 0;
	text-align:justify;
}

input[type=text].search {
	width:330px; height:35px;
}

input[type=submit] {
	width:110px; height:35px;
}

#display {
	margin:0 0 10px 75;
	text-align:justify;
}

progress {
  width: 10em;
  height: 0.8em;
  border: 1px solid;
}